.w3-2024-rooibos-tea
{color:#fff!important;background-color:#AE4B38!important}
.w3-2024-orangeade
{color:#fff!important;background-color:#E75936!important}
.w3-2024-watercress
{color:#fff!important;background-color:#708C66!important}
.w3-2024-desert-flower
{color:#000!important;background-color:#FF9A90!important}
.w3-2024-chambray-blue
{color:#000!important;background-color:#A4B9DA!important}
.w3-2024-pastel-lilac
{color:#000!important;background-color:#BEB2D5!important}
.w3-2024-marlin
{color:#fff!important;background-color:#505C84!important}
.w3-2024-lemon-drop
{color:#000!important;background-color:#F8D974!important}
.w3-2024-mint
{color:#fff!important;background-color:#00AB78!important}
.w3-2024-capri
{color:#fff!important;background-color:#42BDCB!important}
.w3-2024-brilliant-white
{color:#000!important;background-color:#EDF1FF!important}
.w3-2024-mushroom
{color:#000!important;background-color:#BCABA0!important}
.w3-2024-northern-droplet
{color:#000!important;background-color:#BDC1C0!important}
.w3-2024-quiet-shade
{color:#fff!important;background-color:#696C71!important}
.w3-2024-brush
{color:#fff!important;background-color:#B99B86!important}
.w3-2024-peach-fuzz
{color:#000!important;background-color:#FFBE98!important}
.w3-2024-tomato-cream
{color:#fff!important;background-color:#C57644!important}
.w3-2024-scarlet-smile
{color:#fff!important;background-color:#9F2436!important}
.w3-2024-golden-palm
{color:#fff!important;background-color:#AF8D1F!important}
.w3-2024-aventurine
{color:#fff!important;background-color:#005348!important}
.w3-2024-red-orange
{color:#fff!important;background-color:#EF5327!important}
.w3-2024-fern
{color:#fff!important;background-color:#999E62!important}
.w3-2024-italian-plum
{color:#fff!important;background-color:#51354A!important}
.w3-2024-moonstruck
{color:#000!important;background-color:#C2BEB6!important}
.w3-2024-winter-sky
{color:#000!important;background-color:#A6C0CD!important}
.w3-2024-lucent-white
{color:#000!important;background-color:#F4F7FF!important}
