.w3-2025-mocha-mousse
{color:#fff!important;background-color:#A47864!important}
.w3-2025-bran
{color:#fff!important;background-color:#A66E4A!important}
.w3-2025-crocus
{color:#fff!important;background-color:#C67FAE!important}
.w3-2025-lime-cream
{color:#000!important;background-color:#D7E8BC!important}
.w3-2025-limpet-shell
{color:#000!important;background-color:#98DDDF!important}
.w3-2025-white-grape
{color:#fff!important;background-color:#A6BE47!important}
.w3-2025-dejavu-blue
{color:#fff!important;background-color:#2E5283!important}
.w3-2025-kashmir
{color:#fff!important;background-color:#6F8D6A!important}
.w3-2025-misted-marigold
{color:#000!important;background-color:#E3BD33!important}
.w3-2025-orangeade
{color:#fff!important;background-color:#E2552D!important}
.w3-2025-cocoon
{color:#fff!important;background-color:#C9B27C!important}
.w3-2025-eclipse
{color:#fff!important;background-color:#344148!important}
.w3-2025-antique-white
{color:#000!important;background-color:#EDE3D2!important}
.w3-2025-rum-rasin
{color:#fff!important;background-color:#583432!important}
.w3-2025-moonbeam
{color:#000!important;background-color:#CDC6BD!important}
.w3-2025-blue-granite
{color:#fff!important;background-color:#717388!important}
.w3-2025-lemon-grass
{color:#000!important;background-color:#DCD494!important}
.w3-2025-brandied-melon
{color:#fff!important;background-color:#D1805F!important}
.w3-2025-lyons-blue
{color:#fff!important;background-color:#005871!important}
.w3-2025-damson
{color:#fff!important;background-color:#854C65!important}
.w3-2025-primrose-pink
{color:#000!important;background-color:#EFDADD!important}
.w3-2025-winterberry
{color:#fff!important;background-color:#BE394F!important}
.w3-2025-hot-chocolate
{color:#fff!important;background-color:#704A49!important}
.w3-2025-chili-oil
{color:#fff!important;background-color:#8F3D37!important}
.w3-2025-poppy-red
{color:#fff!important;background-color:#DC343B!important}
.w3-2025-bronze-brown
{color:#fff!important;background-color:#82643E!important}
.w3-2025-bright-white
{color:#000!important;background-color:#F4F5F0!important}
.w3-2025-french-roast
{color:#fff!important;background-color:#58423F!important}
.w3-2025-vapor-blue
{color:#000!important;background-color:#BDBEBF!important}
.w3-2025-crown-blue
{color:#fff!important;background-color:#464B65!important}
.w3-2025-mauve-wine
{color:#fff!important;background-color:#5B3644!important}
